<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <h2> <%= results %> </h2>

    Encode: <form action="encode" method="post"><input type="text" name="value" value="<%= results %>" /><input type="submit"/></form><p/>
  </body>
</html>